@font-face {
  font-family: "ArialRounded";
  src: url("../assets/font/ARLRDBD.TTF") format("truetype");
}

body {
  font-family: "ArialRounded";
  background: radial-gradient(circle, #404040 30%, #333333 60%, #272727 100%);
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fundoE,
.fundoD {
  z-index: -1;
  height: 98vh;
  position: absolute;
}

.fundoE {
  left: -45px;
}

.fundoD {
  right: 0;
}

.btn-play-pause {
  width: 45px;
  height: 45px;
  background: transparent;
  border: 2px solid #7f7f7f;
  border-radius: 40%;
  transition-duration: 0.4s;
  cursor: pointer;
  position: fixed;
  bottom: 85px;
  right: 40px;
}

.btn-play-pause:hover {
  width: 50px;
  height: 50px;
  font-size: 1rem;
}

.fa-play,
.fa-pause {
  color: #fff;
}

#telaInicio {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  color: #ffff;
  font-weight: 600;
  text-align: center;
}

#telaInicio h1 {
  font-size: 95px;
}

#telaInicio nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.btn {
  width: 150px;
  height: 50px;
  color: white;
  border: 2px solid #00b050;
  background: #1f7747c7;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.4s;
}

.btn:hover {
  background: #1f7747;
}

.btn-modo-jogo,
.btn-manual {
  width: 300px;
  height: 80px;
  font-size: 30px;
}

.btn-responder {
  margin-top: 50px;
}

.btn-voltar-inicio,
.btn-info,
.btn-pilha-principal,
.btn-pilha-secundaria {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-color: #7f7f7f;
  border-radius: 50%;
  position: absolute;
}

.btn-voltar-inicio {
  left: 250px;
  top: 10px;
}

.btn-info {
  color: #ffff;
  right: 250px;
  top: 10px;
}

.btn-pilha-principal,
.btn-pilha-secundaria {
  display: none;
  color: #fff;
  background-color: #0000003d;
}

.btn-pilha-principal {
  top: 50%;
  left: 0;
}

.btn-pilha-secundaria {
  top: 50%;
  right: 0;
}

.btn-voltar-inicio:hover,
.btn-info:hover {
  background: #0000002f;
}

#telaJogo {
  display: none;
  flex-direction: column;
  align-items: center;
}

.titulo,
.instrucao {
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.titulo {
  font-size: 50px;
  margin: 0;
}

.instrucao {
  font-style: italic;
  margin-bottom: 35px;
}

.container-pilhas {
  display: flex;
  gap: 30px;
  position: relative;
}

.tag-pilha {
  display: none;
  width: 140px;
  background: #00000056;
  border: 2px solid #7f7f7f;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  padding: 5px;
  position: absolute;
  top:-20px;
  left: 30%;
}

.pilha {
  width: 450px;
  height: 650px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background: #f2f2f21e;
  border: 2px solid #7f7f7f;
  border-radius: 10px;
  padding: 10px;
  overflow: auto;
}

.pilha::-webkit-scrollbar {
  width: 8px;
  background: transparent;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.pilha::-webkit-scrollbar-thumb {
  background: #00000042;
  border-radius: 20px;
}

.pilha.over {
  background: #00000018;
  border: 2px dashed #7f7f7f;
}

.pilha img {
  width: 100px;
  height: 100px;
  margin: 5px;
}

img.dragging {
  opacity: 0.5;
}

.modal {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

.modal-content {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  background: #272727;
  border: 1px solid #7f7f7f;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

.btn-fechar-modal {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 30px;
}

.modal-condicao,
.modal-manual {
  display: none;
}

.alternativas button {
  display: block;
  border: 1px solid #0077ff;
  border-radius: 5px;
  background: #0077ff3b;
  color: white;
  font-size: 15px;
  margin: 10px;
  padding: 8px 15px;
  cursor: pointer;
  transition: 0.4s;
}

.alternativas button:hover {
  background: #005bcc;
}

.modal-manual ul {
  list-style: none;
  text-shadow: 8px 8px 10px #0000003b;
  text-align: left;
}

.btn-abrir-modal {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #ff9800;
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.btn-abrir-modal:hover {
  background: #e68900;
}

#telaManual {
  height: 98vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

#telaManual .instrucao {
  max-width: 550px;
}

#descubra,
#monte {
  max-width: 500px;
}

#descubra h2,
#monte h2 {
  text-align: center;
}

#descubra ul,
#monte ul,
.modal-manual ul {
  list-style: none;
  text-shadow: 8px 8px 10px #0000003b;
}

.sub-lista {
  margin: 15px 0 15px 0;
}

#descubra ul li,
#monte ul li,
.modal-manual ul li {
  margin-bottom: 15px;
}

#descubra .decoracao,
#monte .decoracao,
.modal-manual .decoracao {
  list-style: disc;
  margin-left: 25px;
}

#telaDificuldade {
  display: none;
  height: 98vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

#telaDificuldade .titulo {
  font-size: 80px;
}

.btns-dificuldade {
  width: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 50px;
}

.btns-dificuldade button {
  background: none;
  border: none;
  color: #fff;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.4s;
}

.info {
  max-width: 500px;
  height: 100px;
  font-size: 16px;
  font-style: italic;
  margin: 50px 0;
}
